html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 1rem 0;
}

.button-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* grows responsively */
  gap: 20px;
  width: 95vw;
  max-width: 1400px;
  height: 90vh;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.btn-grid {
  display: block;
  width: 100%;
  padding-top: 100%; /* square aspect */
  position: relative;
  background-color: #333;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  transition: opacity 0.3s ease;
}

.btn-grid::after {
  content: attr(data-label);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}


.btn-grid:hover {
  opacity: 0.85;
}
